.mat-drawer
  min-width: 350px

.geomap
  float: left
  width: 800px
  height: 1000px

.geomap app-visualization-geomap
  float: left
  width: 900px
  height: 1500px

.attribute
  float: left
  width: 200px
  height: 800px

  
