<mat-toolbar class="toolbar z-depth-1-half">
  <span>Visualizing Makerspaces</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
    class="sidenav"
    mode="side"
    [opened]="true"
    position="end">
    {{ makerspaceName }}
    <app-demographics [selectedMakerspace]= "selectedMakerspace" ></app-demographics>
  </mat-sidenav>

  <mat-sidenav-content>
      <mat-sidenav opened mode="side">
        <app-attribute-selectors #attributeSelector>
        </app-attribute-selectors>
       <br><br><br>
       Legend 
       <hr>
      </mat-sidenav>

      <app-visualization-geomap
        (nodeclick)="onNodeClick($event)"
        [selectedColorEncoding]="attributeSelector.colorEncodingSelected"
        [selectedSizeEncoding] = "attributeSelector.sizeEncodingSelected">
      </app-visualization-geomap>
  </mat-sidenav-content>

</mat-sidenav-container>
