<!DOCTYPE html>
<mat-drawer-container class="container">
  <mat-drawer class="sidenav" mode="side" position="end" #sidenav>
    {{ makerspaceName }}
    <app-demographics [selectedMakerspace]= "selectedMakerspace" ></app-demographics>
  </mat-drawer>
  
  <div class="sidenav-content">
    <div class="attribute">
      <app-attribute-selectors #attributeSelector >
      </app-attribute-selectors>
    </div>
    <div class="geomap">
      <app-visualization-geomap (nodeclick)="onNodeClick($event)"
      [selectedColorEncoding]="attributeSelector.colorEncodingSelected"
      [selectedSizeEncoding] = "attributeSelector.sizeEncodingSelected">
      </app-visualization-geomap>
    </div>
  </div>
  <div class="legends">
    <app-legend-expansion></app-legend-expansion>
  </div>
</mat-drawer-container>
