<!DOCTYPE html>
<br>
<mat-form-field class="attribute">
  <mat-select placeholder="Size" (selectionChange)="setSize($event)" [value]= "this.sizeAttributes[0]">
    <mat-option *ngFor = "let size of sizeAttributes" [value]="size">
      {{ size }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field>
  <mat-select placeholder="Color" (selectionChange)="setColor($event)" [value]= "this.colorAttributes[0]">
    <mat-option *ngFor = "let color of colorAttributes" [value]="color">
      {{ color }}
    </mat-option>
  </mat-select>  
</mat-form-field>

